boto3
botocore
fastapi
numpy
psycopg2-binary
pydantic
pydantic-settings
razorpay==1.4.1
redis
requests
s3transfer
SQLAlchemy
python-slugify
mangum
python-jose[cryptography]
passlib==1.7.4
bcrypt==3.2.2
pyotp
python-dotenv
pyyaml
uvicorn
pyjwt
pydantic[email]
python-multipart
alembic
email-validator
httpx
jinja2
pillow
aiofiles
reportlab>=4.0.0
setuptools==67.8.0
aiohttp
argon2-cffi>=21.3.0